html
  head
    title="Debtor's Prison Break"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content='A tool for visualizing, managing, and addressing credit card debt')
    meta(name='viewpot', content='width=device-width, initial-scale=1')

  body
    #react-app!= content

  script(src='http://localhost:8081/js/app.js', defer)
